
<style>
    
    .div1{
      overflow: hidden;
      background-color:cadetblue;
    }
    
    .div1 a {
      float: left;
      display: block;
      color:black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .div1 a:hover {
      background-color:darkgoldenrod;
      color: black;
    }
    #div3 {
      height:700px;
    }
    body  {
  background-image: url("assets/images/admin2.jpg");
  background-repeat: no-repeat;
  background-size:100% 100%;
  height:975px;
 
}
    .div1  a.active {
      background-color: #2196F3;
      color: white;
    }
    </style>
    
    <body>
    <main>
        <section>
      
            <div class="div1" style="background-color:	#F0E68C;">
                <a  [routerLink]="'addcategory'" routerLinkActive="router-link-active" >Add Category</a>
                <a [routerLink]="'subcategory'" routerLinkActive="router-link-active" >Sub-Category</a>
                <a  [routerLink]="'bubuyer'" routerLinkActive="router-link-active" >Block/Unblock Buyer</a>
                <a [routerLink]="'buseller'" routerLinkActive="router-link-active">Block/unblock Seller</a>
                <a  [routerLink]="'dailyreports'" routerLinkActive="router-link-active">DailyReports</a>
                <a [routerLink]="'viewcategory'" routerLinkActive="router-link-active" >ViewCategory</a>
                <a [routerLink]="'viewsubcategory'" routerLinkActive="router-link-active" >View SubCategory</a>
                <a (click)="logout()">LogOut</a>
        </div>
    
             <div id="div3">
                <router-outlet></router-outlet>
             </div>
          
             
        </section>
    </main>   
    
    </body>
    
    
