&nbsp;
&nbsp;
    <div class="container">
        <table class="table table-bordered"  style="background-color:lightgoldenrodyellow;">
            <tr>
                <th>Category Id</th>
                <th>Sub Category Id</th>
                <th>BriefDetails</th>
               <th>Sub Category Name</th>
               <th>GST</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr *ngFor="let item of list">
               <td>{{item.cid}}</td>
               <td>{{item.scid}}</td>
               <td>{{item.scdetails}}</td>
               <td>{{item.sname}}</td>
               <td>{{item.gst}}</td>
               <td><button class="btn btn-info btn-lg" type="button" data-toggle="modal" data-target="#myModal" (click)="viewsubprofile(item.scid)">Edit</button></td>
               <td><button class="btn-danger btn-lg" type="button" (click)="Delete(item.scid)">Delete</button></td>
            </tr>
        </table>
        <div class="modal" id="myModal" style="background-color: rosybrown;">
           
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Modal Heading</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                    <form [formGroup]="itemform"  style="margin-top:2%;">
                        <div class="offset-3">
                            <div class="form-group col-8">
                                <label>Subcategory ID</label>
                                <input type="number" formControlName="scid" class="form-control"/>
                            <!-- <div *ngIf="submitted && f.category_id.errors" class="invalid-feedback">
                                <div *ngIf="f.category_id.errors.required">Brief Details is required</div>
                            </div> -->
                        
                        </div>
                        <div class="form-group col-8">
                            <label>SubCategory Name</label>
                            <input type="text" formControlName="sname" class="form-control"/>
                            <!-- <div *ngIf="submitted && f.subcategory_name.errors" class="invalid-feedback">
                                <div *ngIf="f.subcategory_name.errors.required">Brief Details is required</div>
                            </div> -->
                    
                    </div>
                        <div class="form-group col-8">
                            <label>Brief Details</label>
                            <input type="text" formControlName="scdetails" class="form-control"/>
                            <!-- <div *ngIf="submitted && f.brief_details.errors" class="invalid-feedback">
                                <div *ngIf="f.brief_details.errors.required">Brief Details is required</div>
                            </div> -->
                    
                    </div>
                   
                <div class="form-group col-8">
                    <label>GST</label>
                    <input type="text" formControlName="gst" class="form-control"  />
                    <!-- <div *ngIf="submitted && f.GSTIN.errors" class="invalid-feedback">
                        <div *ngIf="f.GSTIN.errors.required">Brief Details is required</div>
                    </div> -->
                
                        </div>
                        </div>
                  Modal body..
                    </form>
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="Update()">Update</button>
                </div>
          
              </div>
            </div>
          </div>
        </div>



        
